%li.list-group-item[demand]{class: demand.met_class}
  .col
    = demand.met_icon
    %span.description= demand.description

    - if logged_in?
      %span.actions
        = demand.action_link
        = demand.remove_link
