// https://getbootstrap.com/docs/4.1/examples/sticky-footer/

$footer-height: 4 * $spacer;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height + ($spacer * 2);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: #f5f5f5;
}
